.title {
    text-align: center;
    color: #00B1FF;
    font-family: grobold;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    margin-bottom: 60px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

.titleName {
    text-align: center;
    color: #FF0000;
    font-family: grobold;
    font-size: 22;
    font-style: normal;
    /* font-weight: 700; */
    line-height: 25px;
    letter-spacing: 0em;
    /* margin: 8px; */
}

.label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background {
    background-color:blanchedalmond;
    box-shadow:inset -70px 0 200px -30px rgba(0,0,0,.75);
}
  
  
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.section > div {
    margin: 0 1rem 2rem 1rem;
    text-align: center;
}

.section2 {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* align-items: center; */
    justify-content: space-between;
}

.contactdiv {
    width: 33%;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}
.card {
    /* width: 33%; */
    background-color: #eef1f6;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}


.img {
    display: inline-block;
    max-width: 100%;
}

.fab {
    margin: 0px;
    top: auto;
    right: 50px;
    bottom: 50px;
    left: auto;
    position: fixed;
    background-color: 'blue';
};